# 同步围棋 (Simultaneous Go) - npm Configuration
# Copyright (C) 2026 三亚棋道工作室 (Sanya Chess Studio)

# Electron mirror for faster downloads in China
# electron_mirror=https://npmmirror.com/mirrors/electron/
# electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# Registry (default)
registry=https://registry.npmjs.org/

# Engine strict mode
engine-strict=true
